<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href='{% static "core/css/bootstrap.min.css" %}' type="text/css" rel="stylesheet" />
  <link href='{% static "core/css/estilos.css"  %}' type="text/css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>


  <script>


  </script>
  <script>
    $(function () {
      $("#formulario").validate({
        rules: {

          nombre: "required",
          apellido: "required",
          rut: {
            required: true,
            minlength: 9,
          },
          telefono: {
            required: true,
            minlength: 9,
          },
          correo: {
            required: true,
            email: true,
          },
          comentario: {
            required: true,
            maxlength: 500,
          },
          

        }, //rules

        messages: {
          correo: {
            required: "Ingresa tu correo electrónico",
            email: "Formato de correo no válido",
          },
          nombre: {
            required: "Debes ingresar al menos un nombre",
          },
          apellido: {
            required: "Debes ingresar al menos un apellido",
          },
          telefono: {
            required: "Ingrese un número de celular",
            minlength: "Cantidad de digitos insuficiente",
          },

          rut: {
            required: "Ingresa tu rut",
            minlength: "ingresa tu rut sin puntos y con guion",

          },
          comentario: {
            required: "Ingresa ucomentario",
            maxlength: "Demasiados caracteres",
          },
         

        },
      });
    });
  </script>
</head>

<body
  style="background-image: url('{% static 'core/img/fondo2.jpg' %}'); background-repeat: no-repeat; background-size:auto;">
  <h1   style="text-align: center; padding: 40px;">Enviar Mensaje</h1>
  <div id="caja" style="padding: 30px;">

    <form method="POST" action="#" id="formulario">
      {% csrf_token %}

      <div  class="form-group">
        {{ contacto_form.rut.label }}
        {{ contacto_form.rut}}
      </div>
      <div  class="form-group">
        {{ contacto_form.nombre.label }}
        {{ contacto_form.nombre}}
      </div>
      <div class="form-group">
        {{ contacto_form.apellido.label }}
        {{ contacto_form.apellido}}
      </div>
      <div  class="form-group">
        {{ contacto_form.telefono.label }}
        {{ contacto_form.telefono}}
      </div>
      <div  class="form-group">
        {{ contacto_form.correo.label }}
        {{ contacto_form.correo}}
      </div>  
        <div class="form-group">
          {{ contacto_form.comentario.label }}
          {{ contacto_form.comentario}}
      </div>

      <div style="padding-top: 30px;" >

      <input  type="submit" class="btn btn-success" value="Guardar">
      <input  type="reset" class="btn btn-success" value="Limpiar">
      </div>

    </form>
  </div>
</body>

</html>